html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: linear-gradient(to bottom, transparent, #fff) #eceeef;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
